<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style/css/admin.css">
    <link rel="stylesheet" href="/static/style/css/customer.css"/>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
    <section class="pyscript">
        <div id="app"></div>
    </section>
    <script type="py" src="/static/pyscript/admin_dashboard.py"></script>
</body>
</html>