<!DOCTYPE html>
<html>
<head>
    <title>Customer Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/style/css/customer.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="/static/style/css/admin.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
    <section class="pyscript">
        <div id="app"></div>
    </section>
    <script type="py" src="/static/pyscript/customer_dashboard.py"></script>
</body>
</html>