<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - Mingalar</title>
    <link rel="stylesheet" type="text/css" href="/static/style/css/style-login.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
    <div id="forgot-password-form"></div>
    <script type="py" src="/static/pyscript/forgot_password.py"></script>
</body>
</html>